.block.app-block-primary
  .block-lg-middle.block-xs-middle
    .container
      .row
        %h1.block-title.m-b-md
          %span.text-ribbon.text-ribbon-info
            %span
              Thank you for registering

        %p.lead
          %span.text-ribbon.text-ribbon-info
            %span
              Please select your account type


      .row
        =link_to "Student", "#", {class: "btn btn-info btn-square"}
        =link_to "Parent", "#", {class: "btn btn-info btn-square m-l-sm"}
        =link_to "Employee", new_employee_path, {class: "btn btn-primary btn-square m-l-sm"}
