.block.block-inverse.app-block-yellow{:style => "background-image: url()"}
  .block-lg-middle.block-xs-middle
    .container
      .row
        %h1.block-title.m-b-md
          %span.text-ribbon.text-ribbon-ld
            %span Frequently Asked Questions
          %p.lead
            %span.text-ribbon.text-ribbon-ld
              %span A quick resource for parents and guardians
.block.app-block-yellow
  .block-lg-middle.block-xs-middle
    .container
      - @faqs.each do |faq|
        .row
          %h3
            = simple_format(faq.question)
          %p.lead
            = simple_format(faq.answer)
