.block.app-block-primary
  .block-lg-middle.block-xs-middle
    .container
      .row
        %h1.block-title.m-b-md
          %span.text-ribbon.text-ribbon-info
            %span
              About You

  = render 'form'