.block.app-block-primary
  .block-lg-middle.block-xs-middle
    .container
      .row
        %h1.block-title.m-b-md
          %span.text-ribbon.text-ribbon-info
            %span
              Apply to work at UTNIF

        %p.lead
          %span.text-ribbon.text-ribbon-info
            %span
              First, lets get some information about you
  = render 'form'