%h1.block-title.m-b-md
  %span.text-ribbon.text-ribbon-primary 
    %span Login Please
=form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f|
  .text-ribbon-inputs-split.sign-in-form
    =f.email_field :email, {autofocus:true, placeholder: "email",class:"h4 text-ribbon-input text-ribbon-primary"}
    =f.password_field :password, {autocomplete:"off", placeholder: "password",class:"h4 text-ribbon-input text-ribbon-primary"}
  .actions
    =f.submit "login", {class:'btn btn-square btn-primary btn-lg btn-block'}
    =render 'devise/shared/links'