#stage.aqs{:style => ""}
  .k.apb.b
    %button.dl.oy.aqv{"data-target" => "#stage", "data-toggle" => "stage"}
      %span.a.aez.ara
      Menu
    .apk.apg
      .e.aqa
        .c
          .aqa
            %h1.apd.amf
              %span.dp
                %span 
                  = @camp.name
            %p.ak
              %span.dp
                %span
                  = @camp.info
  - @camp.programs.each do |p|
    .k.b
      .apk.apg
        .e.aqa
          .c
            .aqa
              %h1.apd.amf
                %span.dp
                  %span 
                    = p.name
              %p.ak
                %span.dp
                  %span
                    = p.start_date