.block.block-inverse.app-block-primary{:style => "background-image: url()"}
  .block-lg-middle.block-xs-middle
    .container
      .row
        %h1.block-title.m-b-md
          %span.text-ribbon.text-ribbon-cx
            %span News
          %p.lead
            %span.text-ribbon.text-ribbon-cx
              %span Announcements from UTNIF
.block.app-block-primary
  .block-lg-middle.block-xs-middle
    .container
      - @posts.each do |faq|
        .row
          %h3
            = simple_format(faq.question)
          %p.lead
            = simple_format(faq.answer)
