#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      =link_to 'UTNIF', root_path
    %li Applications

    %li Schedules

    %li Communications

    %li Pillow Fights


    - if user_signed_in?
      %li
        -if current_user.account.present?
          =link_to current_user.account.first_name, edit_account_path(current_user.account.id),{class:'nav-link'}
        -else
          =link_to current_user.email, edit_user_registration_path,{class:'nav-link'}
        
      %li
        =link_to "sign out", destroy_user_session_path, {class:'nav-link',:method => 'delete'}
    - else
      %li
        =link_to "sign in", new_user_session_path,{class:'nav-link'}
      %li
        =link_to "register", new_user_registration_path,{class:'nav-link'}
