#footer.block.block-inverse.accent-primary
  .container
    .row.text-serif
      .col-sm-3.m-b-md
        %ul.list-unstyled.list-spaced
          %li
            %h4 CX
          %li.text-muted
            %em Programs
          %li.text-muted
            %em Evidence
          %li.text-muted
            %em Questions
      .col-sm-3.m-b-md
        %ul.list-unstyled.list-spaced
          %li
            %h4 LD
          %li.text-muted
            %em Programs
          %li.text-muted
            %em Evidence
          %li.text-muted
            %em FAQ

      .col-sm-3.m-b-md
        %ul.list-unstyled.list-spaced
          %li
            %h4 PF
          %li.text-muted
            %em Overview
          %li.text-muted
            %em Program
          %li.text-muted
            %em Evidence
          %li.text-muted
            %em Topics
      .col-sm-3.m-b-md
        %ul.list-unstyled.list-spaced
          %li
            %h4 IE
          %li.text-muted
            %em
              %a{href:"http://commstudies.utexas.edu/camps/utnif-ie/"} UTNIF IE
      .col-sm-12.m-b-md.text-right
        %ul.list-unstyled.list-spaced
          %li
            %h4 Credits
          %li.text-muted
            %em
              Thanks to the 
              %a{href:'https://utexas.edu'}University of Texas at Austin 
              for campus images.
  #utnifModal.modal.fade{'tabindex'=>'1','role'=>'dialog','aria-labelledby'=>'utnifModalLabel','aria-hidden'=>'true'}
    .modal-dialog{'role'=>'document'}
      .modal-content
        .modal-header
          %button.close{'type'=>'button','data-dismiss'=>'modal','aria-label'=>'Close'}
            %span{'aria-hidden'=>'true'}
              &times;
        .modal-body
          '...'
