#footer.k.al.arl
  .e
    .c.sx
      .fu.amf
        %ul.fh.sv
          %li
            %h4 CX
          %li.am
            %em Programs
          %li.am
            %em Evidence
          %li.am
            %em Questions
      .fu.amf
        %ul.fh.sv
          %li
            %h4 LD
          %li.am
            %em Programs
          %li.am
            %em Evidence
          %li.am
            %em FAQ

      .fu.amf
        %ul.fh.sv
          %li
            %h4 PF
          %li.am
            %em Overview
          %li.am
            %em Program
          %li.am
            %em Evidence
          %li.am
            %em Topics
      .fu.amf
        %ul.fh.sv
          %li
            %h4 IE
          %li.am
            %em
              %a{href:"http://commstudies.utexas.edu/camps/utnif-ie/"} UTNIF IE
      .fu.amf
        %ul.fh.sv
          %li
            %h4 Credits
          %li.am
            %em
              Thanks to the 
              %a{href:'https://utexas.edu'}University of Texas at Austin 
              for campus images.
  #utnifModal.modal.fade{'tabindex'=>'1','role'=>'dialog','aria-labelledby'=>'utnifModalLabel','aria-hidden'=>'true'}
    .modal-dialog{'role'=>'document'}
      .modal-content
        .modal-header
          %button.close{'type'=>'button','data-dismiss'=>'modal','aria-label'=>'Close'}
            %span{'aria-hidden'=>'true'}
              &times;
        .modal-body
          '...'
