%ul.nav.navbar-nav.pull-right
  - if user_signed_in?
    %li.nav.nav-item
      =link_to current_user.email, edit_user_registration_path,{class:'nav-link'}
    %li.nav.nav-item
      =link_to "sign out", destroy_user_session_path, {class:'nav-link',:method => 'delete'}
  - else
    %li.nav.nav-item
      =link_to "sign in", new_user_session_path,{class:'nav-link'}
    %li.nav.nav-item
      =link_to "register", new_user_registration_path,{class:'nav-link'}
