- if user_signed_in?
  %li
    -if current_user&.account&.employee?
      =link_to current_user.account.first_name.titlecase, edit_employee_path(current_user.account.employee.id)
    -elsif current_user&.account&.first_name
      =link_to current_user.account.first_name.titlecase, edit_account_path(current_user.account.id)
    -else
      =link_to current_user.email, edit_user_registration_path
  %li
    =link_to "Sign Out", destroy_user_session_path, {:method => 'delete'}
- else
  %li
    =link_to "Sign In", new_user_session_path,{class:'nav-link', data:{:target => "#stage", :toggle=>"stage"}}
  %li
    =link_to "Sign Up", new_user_registration_path,{class:'nav-link', data:{:target => "#stage", :toggle=>"stage"}}
