#utnif-modal.modal.fade{'tabindex'=>'-1','role'=>'dialog','aria-labelledby'=>'utnif-modal-label','aria-hidden'=>'true'}
  .modal-dialog{'role'=>'document'}
    .modal-content
      .modal-header
        %button.close{'data-dismiss'=>'modal','aria-label'=>'Close'}
          %span{'aria-hidden'=>'true'}
            &times;
        %h4
          =yield :title if content_for? :title 
      .modal-body
        = yield
      .modal-footer
        %button.btn.btn-secondary{'data-dismiss'=>'modal','type'=>'button'}
          Close
        %button.btn.btn-primary{'type'=>'button'}
          Submit