#sidebar.stage-shelf.hidden
  %ul.nav.nav-bordered.nav-stacked
    %li.nav-header
      = link_to 'Home', root_path, {"data-target" => "#stage", "data-toggle" => "stage"}
    %li.nav-divider
    = render 'layouts/login_info'
    %li.nav-divider
    %li.nav-header
      %small Camps
    - @camps.each do |c|
      %li
        = link_to c.name, camp_path(c.nickname), {"data-target" => "#stage", "data-toggle" => "stage"}
    %li.nav-divider
    %li.nav-header
      %small About
    %li
      =link_to "FAQ - For Parents", faq_url, {data:{target:"#stage",toggle: "stage"}}
    %li
      %a{"data-target" => "#stage", "data-toggle" => "stage", "href" => "#"} About UTNIF
