%h3 Great! We're exicted to work with you this summer!

%p Let's get some quick information from you.

=form_for @a do |f|

  .form-group.row
    =f.label :first_name, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :first_name, class:'form-control'
  .form-group.row
    =f.label :middle_name, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :middle_name, class:'form-control'
  .form-group.row
    =f.label :last_name, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :last_name, class:'form-control'
  .form-group.row
    =f.label :cell_phone, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :cell_phone, class:'form-control'
  .form-group.row
    =f.label :address1, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :address1, class:'form-control'
  .form-group.row
    =f.label :address2, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :address2, class:'form-control'
  .form-group.row
    =f.label :city, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :city, class:'form-control'
  .form-group.row
    =f.label :state, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :state, class:'form-control'
  .form-group.row
    =f.label :birthday, class:'col-xs-2 col-form-label'
    .col-xs-10
      =f.text_field :birthday, {'class'=>'form-control','type'=>'date'}

  =f.fields_for :accountable, @p do |ff|
    -if @a.new_record?
      =ff.hidden_field :accountable_type, value: @p.class

    -# .form-group.row
    -#   =ff.label :bio, class:'col-xs-2 col-form-label'
    -#   .col-xs-10
    -#     =ff.text_area :bio, {'class'=>'form-control','rows'=>'3'}

    #references.form-group.row
      = ff.label :references, {'class'=>'col-xs-2 col-form-label'}
      #references-0.references.col-xs-8
        .form-inline 
          = ff.text_field :references, {'class'=>'form-control','placeholder'=>'Reference Name','style'=>'width:48%','id'=>'account_employee_references-0-a'}
          = ff.text_field :references, {'class'=>'form-control','placeholder'=>'Reference Phone or Email','style'=>'width:48%','id'=>'account_employee_references-0-b'}
      %a#add-ref-button.btn.btn-default.btn-small.col-xs-2
        &plus; Add another reference
        
      =#ff.hidden_field :references, {'id'=>'vals','multiple'=>'true'}

    .form-group.row
      =ff.label :experience, class:'col-xs-2 col-form-label'
      .col-xs-10
        =ff.text_area :experience, {'class'=>'form-control','rows'=>'3'}


  .actions
    =f.submit 'Submit Application', class:'btn btn-primary'

:javascript
  (function($){
    var n = 0;
    $('#add-ref-button').click(function(e){
      n++;
      if(n<5){
        var html = '<div class="form-group row">\
          <div class="col-xs-2"></div>\
          <div class="col-xs-8" id="references-'+n+'">\
          <div class="form-inline">\
          <input class="form-control" placeholder="Reference Name" style="width:48%" type="text" value="" name="account[employee][references]" id="account_employee_references-'+n+'-a">\
          <input class="form-control" placeholder="Reference Phone or Email" style="width:48%" type="text" value="" name="account[employee][references]" id="account_employee_references-'+n+'-b">\
          </div>\
          </div>\
          </div>';
        $('#references').after(html);
      }else{
        $(this).addClass('disabled');
      }
    });
    $('.form-control').blur(function(){
        var vals = Object.prototype.toString.call(vals) == "[object Array]" ? vals : []
        ,references = $('.references').length
        for(var i = 0;i<references;i++){
          var a = $('#account_employee_references-'+i+'-a').val();
          var b = $('#account_employee_references-'+i+'-b').val();
          vals.push('{"name":"'+a+'","contact":"'+b+'"}');
        }
        $('#vals').val(vals)
    });
  })(jQuery);