%h1 Welcome to your account page!

- if @account.admin?
  %h3
    we have you listed as a 
    = @account.accountable_type

%p 
  You can edit your account information
  = link_to "here", edit_account_path(@account)

%p 
  You can apply for camp or employment here

%p 
  You can sign up your parent or student or coach here

