%h1 New account

.form-group
  = label_tag 'accountable', 'I am a', class: 'col-form-label lead'
  = select_tag 'accountable', options_for_select(['Parent','Student','Coach','Employee'],'Student'),{class: 'form-control form-control-lg',id: 'accountable'}

#new-account-form
  = render 'form'

= link_to 'Back', accounts_path

:javascript
  $('#accountable').change(function(){
    $.post('/accountable/change',{'s':$('#accountable').val()});
  });