%h1 Welcome to the UTNIF!

.form-group
  = label_tag 'accountable', 'Are you applying as a', class: 'col-form-label lead'
  = select_tag 'accountable', options_for_select([['Parent','Parent'],['Student','Student'],['Student\'s Coach','Coach'],['Lab Leader','Employee']],['Student','Student']),{class: 'form-control form-control-lg',id: 'accountable'}


#new-account-form
  = render 'form'

= link_to 'Back', accounts_path

:javascript
  (function($){
    $('#accountable').change(function(){
      $.post('/a/c',{'s':$('#accountable').val()});
    });
  })(jQuery);
